body{
    background-color: black;
    color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left: 20px;
    font-size: large;

}

nav{
    background-color: aliceblue;
    padding: 10px;
    border:solid rgb(7, 214, 7);
    
}

nav a{
    color: black;
    margin-right: 10px;
    font-size: 18;
    font-weight: bold;
}

nav a :hover{
    color: rgb(4, 189, 4)
}
img{
    max-width: 100%;
    width: 600px;
    height: 500px;
    border: solid rgb(5, 192, 5);

}

footer{
    background-color: white;
    padding: 15px;
    border:2px solid rgb(7, 214, 7);
    bottom: 0;
    color: black;
    height: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 16px;
}

html, body {
height: 100%;
margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

form {
max-width: 600px;
margin: 20px 0;
}
label { 
display:block;
margin-top: 15px;
font-weight: bold;
}
input, textarea { 
width: 100%;
padding: 10px;
margin-top: 5px;
border: 1px;
border-radius: 5px;
font-size: 16px;
box-sizing: border-box;
}

textarea{
    resize: vertical;
}

button { 
margin-top: 20px;
padding: 12px 30px;
background-color: #333;
color: white;
border: none;
border-radius: 5px;
font-size: small;
cursor: pointer;


}







